@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Arial';
  src: url('../../public/font/Arial.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
